
<!-- Authentication .hbs page -->

<form action="/auth/signin"  method='POST' class="col-sm-8 col-md-5 p-3 col-lg-3 border rounded" >
    <div class="display-6 my-3 text-center">*.alldone</div>
    <div class="mb-2">
        <label for="alldone_user_username" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" id="alldone_user_username" required>
    </div>
    <div class="mb-2">
        <label for="alldone_user_password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" id="alldone_user_password" required>
    </div>
    <div class="d-grid my-3">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
    <div class="text-muted text-center">
        Don't have an account yet? go ahead 
        <a href="/signup">here</a>
    </div>
</form>

